html, body {
    background-color: $color-blueGray-700;
}
.tse {
    background-color: $color-green-500;
};
.tsn {
    background-color: $color-deepPurple-500;
};
.tsv {
    background-color: $color-amber-500;
};
.tsac {
    background-color: $color-pink-500;
};
.tscc {
    background-color: $color-gray-500;
};